<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level":2} -->
<h2 class="wp-block-heading">Collins Music Academy</h2>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group"></section>
<!-- /wp:group -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/400/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">About Us</h3>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab
		similique totam sunt officia, amet nisi soluta neque accusantium aliquid
		rerum odio quisquam ea. Quibusdam, tempora? Aspernatur, ducimus distinctio
		quisquam porro sapiente facere necessitatibus ea!
	</p>
	<!-- /wp:paragraph -->
	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, saepe.
		Molestias dolor ipsam laboriosam, laborum modi vero delectus saepe cumque
		reiciendis. Maiores error repellendus, repudiandae aliquam nisi amet
		similique culpa dolor reiciendis omnis nihil facilis, magnam sit esse, animi
		enim! Non excepturi aut explicabo id? Explicabo accusamus dolorem earum sit
		esse minus officiis debitis omnis, deleniti blanditiis tempora nostrum
		similique in consequuntur ipsam itaque autem facere quo culpa obcaecati
		molestiae officia? Culpa architecto qui delectus magnam nemo, illo enim ad
		possimus dignissimos adipisci aperiam doloribus. Et aliquam vitae nisi fugit
		ipsa laborum eligendi dolore totam, obcaecati, officiis praesentium
		temporibus error.
	</p>
	<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">Instructors</h3>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
		doloremque explicabo cum, tenetur totam corporis officiis dolorem aut et
		debitis.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:group {"tagName": "section"} -->
	<section class="wp-block-group">
		<!-- wp:group -->
		<div class="wp-block-group">
			<!-- wp:image -->
			<figure class="wp-block-image">
				<img src="https://picsum.photos/400/350" alt="" />
			</figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Instructor Streets</h4>
			<!-- /wp:heading -->
		</div>
		<!-- /wp:group -->

		<!-- wp:custom-blocks/instructors-list /-->
		<!-- wp:custom-blocks/lessons-list /-->
	</section>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->
