/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-custom-blocks-main-nav {
	background-color: #612940;
	color: #fff;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	ul {
		li {
			list-style: none;
		}
	}
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.homeHeaderIMG {
	background-image: url(https://images.pexels.com/photos/613813/pexels-photo-613813.jpeg);
	background-color: #612940;
	height: 300px;
	width: 100%;
}
.homeHeaderIMG img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.profilePic {
	background-color: #fff;
	height: 250px;
	width: 250px;
	border-radius: 50%;
}
